/* CSS Document */
td img {display: block;}td img {display: block;}td img {display: block;}
body,td {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	
}
th {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
}
body {
		background-image: url(../imagenes/admin/bg2.jpg);
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
   color: #999999;
}
a:link {
	text-decoration: none;
	color: #666666;
}
a:visited {
	text-decoration: none;
	color: #F19200;
}
a:hover {
	text-decoration: underline;
	color: #006838;
}
a:active {
	text-decoration: none;
	color: #999999;
}td img {display: block;}
.style2 {font-size: 11px}td img {display: block;}
.style3 {color: #333}
.style4 {color: #F19200}td img {display: block;}td img {display: block;}
.style7 {color: #666666;}

img {
	border:0;
}



  input, textarea, select {  
    border: solid 1px #E5E5E5;  
    outline: 0;  
    font: normal 16px/100% "Trebuchet MS",tahoma,verdana,arial,sans-serif;
    background: #FFFFFF url('bg_form.png') left top repeat-x;  
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));  
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);  
	padding: .4em 1em;
	

	 margin:9px;
    } 
label{
	font-weight:bold;
		
	}
.boton {
	background:#333333;
	  background-color:#333333;
	  color: #FFF;
	  font-weight:bold;
	  cursor:pointer;
	  text-align:center;
  } 
.boton:hover {
	background:#000000;
	  
  }
.nota {
	color:#036;
	font-weight:bold;
}
 .sombrap {
	 background-color: #333;
	 color: #FFF;
	 
 }


input:hover, textarea:hover,  
input:focus, textarea:focus {  
    border-color: #C9C9C9;  
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;  
    }  
  
.form label {  
    margin-left: 10px;  
    color: #999999;  
    }  
  
.submit input {  
    width: auto;  
    padding: 9px 15px;  
    background: #617798;  
    border: 0;  
    font-size: 14px;  
    color: #FFFFFF;  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
    }   




.error_prog {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FF0000;
}

.paginator {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border: #999999 1px solid;
	padding-top: 1px;
	padding-bottom: 4px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 2px;
	background-color: #CCCCCC;
}

.paginator_check {
	border: #999999 1px solid;
	padding-top: 1px;
	padding-bottom: 4px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 2px;
	background-color: #CCCCCC;
}

.titulo {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #666666;
}

.formulario {
	border-color:#CCCCCC; 
	border-style:solid; 
	border-width:thin;
	background:#EAEAEA;
}

.titulo_tabla {
	border-color:#DEDDD9;
	background-color: #DEDDD9;
	font-weight: bold;
	color: #FFF;
}

.titulo_tabla td {
	font-weight: bold;
	color: #FFFFFF;
}

.fila_active {
	background-color: #FFFFFF;
}

.fila_active td, .fila_hover a {
	color: #000000;
}

.fila_hover {
	background-color: #E6E6E6;
}

.fila_hover td, .fila_hover a {
	color: #000000;
}

.letra_pie {
	color: #666666;
}

.letra_blanca { /* Style1*/
	color: #FFFFFF;
	}
.letra_marron { /* Style2*/
	color: #CF8F05;
	}
.letra_gris {  /* Style3*/
	color: #CCCCCC;
}

.seccion {	/* Style5*/
  color: #666666; 
	font-weight: bold;
	font-size: 12px;
}

.enlace a {
	color: #CCCCCC;
	text-decoration: none;
}

.enlace a:link {
	color: #CCCCCC;
	text-decoration: none;
}

.enlace_gris a {
	color: #666666;
	text-decoration: none;
}

.enlace_gris a:link {
	color: #666666;
	text-decoration: none;
}

.titulo table tr td {
	color: #006838;
	font-size: 24px;
}

.titulo_formulario{
	color:#000;
	font-size:14px;
	font-weight: bold;
	}