/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	outline: 0;
	font-style: inherit;
	font-size: 100%;
	/*font-family: inherit;*/
	margin: 0px;
	padding: 0;
}

body {
/*line-height: 1;*/
color: #000;
background: #FFF;
}
ol, ul {
list-style: none;
}
table {
border-collapse: separate;
border-spacing: 0;
}
caption, th, td {
font-weight: 400;
}
blockquote:before, blockquote:after, q:before, q:after {
content: "";
}
blockquote, q {
quotes: "" "";
}
h3 {
font-weight: inherit;
}
h2 {
font-weight: inherit;
}
#centered_div {
	margin:150px auto;
text-align: center;
}
a {
color: #78200f;
}
a:visited {
color: #3d343a;
}
a:hover {
text-decoration: none;
}
.footer {
font-size: 11px;
padding-top: 40px;
text-shadow: none !important;
color: #555;
line-height: 18px;
}
.footer a {
color: #555;
text-decoration: none;
border-bottom: 1px dotted #555;
}

.botones_m2{
	margin:6px;
	margin-bottom:0px;
	margin-left:10px;
	float:left;	
	min-width:100px;
	padding:10px;
	border-radius:10px 10px 0px 0px;
	text-align:center;
	cursor:pointer;
	font-size:12px;
}

.col1{
	width:15%; 
	padding-right:5px; 
	position:relative;
}

.col2{
	width:25%; 
	padding-right:5px;
	position:relative;
}

.col3{
	width:40%; 
	padding-right:5px; 
	position:relative;
}

.col4{
	width:20%;
	padding-right:5px;
	position:relative;
}

.div1{
	width:97%;
	height:50px; 
	border-radius:10px; 
	top:50%; 
	margin-top:-26.5px; 
	position:absolute; 
	line-height:50px; 
	text-align:center;
	background-color:#06B6FF;
}

.div2{
	width:97%; 
	height:40px; 
	border-radius: 0px 10px 10px 0px; 
	top:50%;
	margin-top:-21.5px; 
	position:absolute; 
	line-height:40px; 
	background-color: #B9C9DD;
}

.div3{
	width:97%; 
	height:40px;
	top:50%;
	margin-top:-21.5px; 
	position:absolute;
	line-height:40px;
	overflow:hidden;
	background-color:#D5E6EA;
}

.div4{
	width:99%; 
	height:35px;
	top:50%;
	margin-top:-19px; 
	position:absolute; 
	line-height:35px; 
	text-align:center;	
}

.alinearCirculo{
	float:left; 
	height:40px; 
	line-height:40px; 
	/*margin-top:10px;*/
}

.circulo{
	width:10px; 
	height:10px; 
	background:#000000; 
	-moz-border-radius: 70px; 
	-webkit-border-radius: 70px; 
	border-radius: 70px; 
	top:50%; 
	position:relative; 
	margin-top:-5px; 
	margin-left:5px;
}

.estilo1{
	font-size:25px; 
	font-weight:bold;
	color:#FFFFFF;
}

.estilo2{
	margin-left:30px;
	font-size:18px; 
	font-weight:bold;
}

.estilo3{
	font-weight:bold;
	font-size:18px; 
	height:40px;
	line-height:40px;
	padding-left:5px;
}

.estilo31{
	font-weight:bold;
	font-size:18px; 
	height:40px;
	line-height:20px;
	padding-left:5px;
}

.estilo4{
	font-weight:bold;
	font-size:14px; 
	height:40px;
	line-height:40px;
	padding-left:5px;
}

.tablap {     
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;                      
    font-size: 12px;    
    margin: 45px;     
    width: 90%; 
    text-align: left;    
    border-collapse: collapse; 
}

.tablap th {     
    font-size: 13px;     
    font-weight: normal;     
    padding: 8px;     
    background: #aabcfe;
    border-top: 4px solid #aabcfe;    
    border-bottom: 1px solid #fff; 
    color: #039; 
}

.tablap td {    
    padding: 8px;     
    background: #e8edff;     
    border-bottom: 1px solid #fff;
    color: #669;    
    border-top: 1px solid transparent; 
}

.tablap tr:hover td { 
    background: #d0dafd; 
    color: #339; 
}