body{
	background:url(../imagenes/inicio/bg_body.jpg) top left repeat;
	background-color: #000;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; margin:0px; padding:0px;
}
a{text-decoration:none;}

img { width:100%;
}
header{width:100%;
overflow: hidden;}
#fondo_head{
	background:url(../imagenes/inicio/bg_cabecera.jpg) top center no-repeat;
	overflow:hidden;
	height:265px; 
	margin:0px;
	 padding:0px;
	 position:relative;
}

#logo{
	width:161px;
	margin:0 auto;	
}
.izquierda{
	float:left;	
}
.derecha{
	float:right;	
}
.contenedor{
	overflow:hidden;
}
.contenedor_completo{
	overflow:hidden;
	width:100%;
}
.solo{clear:both;
}
#menu{
	position:absolute;
	bottom:10px;
	width:100%;
	background:url(../imagenes/inicio/franja_menu.jpg) top center no-repeat;
	height:40px;
	overflow:hidden;
}

.espacio1{
	margin-left:22px;	
}

.letras{
	color:#FFF;	
	text-transform: uppercase;
	font-size:14px;
	font-weight:bold;
}
.letras:hover{
	color:#FFF;
	
}

.menu1{
margin:0 auto; color:#FFF; font-size:16px; overflow:hidden;margin-top:10px;	
}

 .menu1 > div:first-child {
    margin-left: 0 !important;
}
.menu1 > div {
    display: inline;
    margin: 0 5px;
}
.menu1{ 
text-align:center;
width:100%;
}

#conte_menua{
	display:none;
}
.eventd{
	width:30%;
	margin:10px;
	height:auto;
	display:inline-block;
	overflow:hidden;
	max-width:465px;
	
}
#eventosd{
	background:url(../imagenes/inicio/franja_eventos_inicio.jpg) top left no-repeat;
	min-height:400px;
	text-align:center;
	overflow:hidden;
}
.sin_espacio{
	padding:0px;
	margin:0px;
}

.fondo_event{
	background:url(../imagenes/inicio/bg_recuadro_eventos.jpg) top center no-repeat;
background-size: contain;
    padding: 15px 40px;
    text-align: center;
    min-height: 150px;
    color: #fff;
	
	
}
#portafoliop{
	background:url(../imagenes/inicio/franja_agencia_portafolio.jpg) top left no-repeat;
	text-align:center;
	height:auto;
	padding:0px;
	margin:0px;
}
.portafolio1{
	width:22.5%;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:0px;
	margin-top:0px;
	display:inline-block;
	position:relative;	
}
.portafolio_til{
	background:rgba(0,0,0,0.7);
	width:100%;
	height:100px;
	position:absolute;
	bottom:5px;
	color:#FFF;	
}
.primero{
	margin-left:0px;	
}
.ultimo{
	margin-right:0px;
}
#icos{
	width:49%;
	background:url(../imagenes/inicio/bg_iconos.jpg) top left no-repeat;
	margin:0px;
	min-height:352px;
	position:relative;
	float:left;
	overflow:hidden;
}
#crono{
	width:51%;
	overflow:hidden;
	background:url(../imagenes/inicio/bg_cronogramaeventos.jpg) top left no-repeat;
	margin:0px;
	float:left;
	min-height:352px;
}
#ico1{
	position:absolute;
	top:70px;
	right:5%;
	overflow:hidden;
	width:29%;
}
#ico2{
	position:absolute;
	top:70px;
	right:40%;
	overflow:hidden;
	width:29%;
}
#list_eventos{
	width:100%;
	background:rgba(102,102,102,0.8);
	color:#FFF;
	overflow:hidden;
	clear:both;
	margin:0px;
	min-height:150px;
	text-align:center;
}
.noti{
	color:#FFF;
	margin:10px;
	width:25%;
	display:inline-block;	
}
#contacto{
	width:50%;
	background:url(../imagenes/inicio/bg_contacto.jpg) top left no-repeat;
	max-height:443px;
	color:#FFF;
	margin:0px;
	float:left;
	min-height:350px;
	overflow:hidden;
	
	}
	#academia{
	width:50%;
	background: url(../imagenes/inicio/bg_academia.jpg) top left no-repeat;
	max-height:443px;
	min-height:350px;
	color:#FFF;
	margin:0px;
	float:left;
	overflow:hidden;
	
	}
	#conte_ct{
		overflow:hidden;
		float:right;
		width:50%;
		text-align:justify;
		color:#FFF;
		font-weight:bold;
		margin-top:60px;
		padding:10px;
		
	}
	#conte_ac{
		float:left;
		width:50%;
		text-align:justify;
		color:#FFF;
		overflow:hidden;
		overflow:hidden;
		padding:10px;
	}
	#conte_ic{
		clear:both;
		text-align:center;
		width:100%;
		overflow:hidden;
		
			
	}
	.icos{
		display:inline-block;
		height:56px;
		margin:5px;
		overflow:hidden;
		margin-top:20px;
	}
	.icos img {
		width:100%;
	}
	#maquillaje{
		background:url(../imagenes/inicio/bg_sergioduartemakeup.jpg) top left no-repeat;
		height:350px;
		overflow:hidden;
		width:100%;
		margin:0px;
		position:relative;
	}
	#cont_maq{
		position:absolute;
		left:30%;
		top:5%;
		color:#FFF;
		width:40%;
		font-weight:bold;
	}
	#suscrip{
		background: url(../imagenes/inicio/bg_timelanes_fbtw.jpg) top left no-repeat;
		height:auto;
		margin:0px;
		overflow:hidden;	
	}
	
	#nuevo_pie{
	width:100%;
	background: url(../imagenes/inicio/bg_pie2.jpg) top left no-repeat;
	
	
	overflow:hidden;
	position:relative;
	height:auto;
}

#menu_pien{
margin:0 auto; overflow:hidden;width: 95%;padding-top:50px; text-align:center;	
}

.espacio2{
	text-align:center;
	width:9%;
	display:inline-block;
	height:50px;	
}
.espacio3{
	text-align:center;
	width:15%;
	display:inline-block;
	height:50px;	
}
#pie2 {
	  overflow:hidden;
	  width: 100%;
		color:#fff; 
		font-weight:bold;
		text-align:center;
}

.portafolio2{
	width:23%;
	margin:15px;
	display:inline-block;
	position:relative;	
}
.portafolio_til2{
	background:rgba(0,0,0,0.7);
	width:100%;
	height:100px;
	position:absolute;
	bottom:5px;
	color:#FFF;
	text-align:center;
	padding:3px;
}
	.carusel2 {
		width:82%;
		float:left;
	}
#galeria{
	width:100%;
	background-color:#222222;
	overflow:hidden;
	
}
.gal_f{
	width:200px;
	padding:10px;
	text-align:center;

	margin:5px;
	
}
#fotop{
	width:40%;
	margin:0px;
	padding:0px;
	float:left;
	overflow:hidden;
	

}
#contenido_portafolio{
	width:60%;
	float:left;
	margin:0px;
	padding:0px;
	color:#fff;
	overflow:hidden;
	position:relative;
	min-height:500px;

	
}

.contenidoe{
	
 width:65%;
  text-align:left; 
  padding:10px;
   padding-top:0px;
   margin:0px;
}
.contenidof{
	width:30%;
	margin:0px;
}
#contacto1c{
 float:left; 
 width:22%;
  margin:0px; 
  padding:15px;
   margin-top:20px;	
}
#contacto2c{
	   float: left;
    width: 70%;
    margin: 0px;
    padding: 25px;
    margin-top:20px;
    border-left: 1px solid #666666;
}
#suscrip1c{
	 margin:0 auto; 
	 overflow:hidden;
	  width:70%;
}
.view{
	position:relative;
	width:300px;
	height:300px;
	margin:0px;
	display:inline-block;
	overflow:hidden;
	
}
.mask{
	display: none;
	position:absolute;
	top:130px;
	background:rgba(62,1,9,0.7);
	color:#fff;
	width:100%;
	
}
.view:hover img{
	opacity:0.3;	
}
.view:hover .mask{
	display: block;
}
@media only screen and (max-width: 1649px){
.portafolio2{
	width:22%;
}
}
@media only screen and (max-width: 1615px){
#academia{
	width:50%;
}
}
@media only screen and (max-width: 1560px){
	#suscrip1c{
		width:75%;
	}
}
@media only screen and (max-width: 1460px){
	#suscrip1c{
		width:85%;
	}
}
@media only screen and (max-width: 1332px){
#academia{
	width:50%;
}
.menu1{
	width:85%;	
}
}
@media only screen and (max-width: 1320px){
.portafolio1{
	width:22%;	
}
.menu1{
	width:95%;	
}
	#suscrip1c{
		width:90%;
	}
}
@media only screen and (max-width: 1250px){
.letras{
	font-size:12px;
	
}
#suscrip1c{
		width:95%;
	}
}
@media only screen and (max-width: 1099px){
.portafolio1{
	width:20%;	
}
.menu1{
	width:100%;
}
.portafolio2{
	width:20%;
}
#contacto1c{
	width:30%;
}
#contacto2c{
	width:60%;
	
}
#suscrip1c{
		width:100%;
	}
}
@media only screen and (max-width: 1142px){
#academia{
	width:50%;
}
}
@media only screen and (max-width: 999px){
#academia{
	width:47%;
}
.letras{
	font-size:11px;
	
}
.espacio1{
	margin-left:17px;	
}
#contacto{
	width:53%;
}
.fondo_event p{
	font-size:11px;
}
.fondo_event h3{
	font-size:18px;
}

.fondo_event{
	    padding: 9px 35px;
		min-height:100px;
		
	
}
#eventosd{
	min-height:300px;
	
}

}
@media only screen and (max-width: 893px){
	#contacto2c{
		width:58%;
	}
	
}
@media only screen and (max-width: 875px){

.carusel2 {
		width:80%;
}
}

@media only screen and (max-width: 860px){
.espacio1{
	margin-left:10px;	
}
.menu1 > div {
    margin: 0 1px;
}	

}

@media only screen and (max-width: 799px){
#academia{
	width:100%;
}
#contacto{
	width:100%;
	
}
#conte_ct{
	padding:20px;	
}
#icos{
	width:100%;
}
#cronos{
	width:100%;
}
.portafolio1{
	width:20%;	
}
.espacio2{
	width:15%;	
}
.espacio3{
	width:25%;	
}
#pie2 {
	width:95%;
	left:0px;
	text-align:center;
}

	.menu1{
		display:none;
	}
	#carritom{
		display:none;
	}
	#conte_menua{
		display:block;
		margin-left:150px;
    margin-right: 10%;
    margin-top: 5px;
		}
		.menu2{
			width:80%;
			
		}
		
		.fondo_event p{
			display:none;
		}
		
		#eventosd{
	min-height:200px;
	
}

.contenidoe{
	width:95%;
	
}
.contenidof{
	width:95%;
	
}

}
@media only screen and (max-width: 699px){
	#contacto2c{
		width: 50%;
	}
	
}
@media only screen and (max-width: 699px){
.carusel2 {
		width:72%;
}
}
@media only screen and (max-width: 660px){
	.eventd{
		width:40%;	
	}
	#conte_ac {
		width:70%;
	}
	.portafolio2{
	width:40%;
}
#fotop{
	width:100%;
	
}
#contenido_portafolio{
	width:100%;
	
}
}
@media only screen and (max-width: 590px){
	.espacio3{
		width:32%;
	}
	.espacio2{
		width:20%;	
	}
}
@media only screen and (max-width: 488px){
	.menu2{
			width:90%;
			
		}
		#conte_menua{
			margin-left:120px;
		}
		
		#contacto1c{
	width:100%;
}
#contacto2c{
	width:100%;
	border-left:0px;
	
}
		
}
@media only screen and (max-width: 460px){
		.espacio3{
		width:33%;
	}
	.espacio2{
		width:25%;	
	}
	.carusel2 {
		width:60%;
}
	
}