.link1{color:#000000; font-weight:bold; text-decoration:underline;}
.contenedor_archivo{ width:80%; margin:10px auto; overflow:hidden;}

.contenedor_archivoOtros{
    padding-left: 45px; 
    width:500px; 
    margin:10px auto; 
    overflow:hidden;
}

.contenedor_boton_archivo{ min-width:125px; float:left;}

.input_archivo{ width:60%; float:left;position:relative;}

.archivo{ position:absolute; width:100%; top:0; left:0; opacity:0; cursor:pointer;}

.botones_m5{
	margin-left:10px;	
	min-width:120px;
	padding:5px 10px;
	border-radius:5px;
	text-align:center;
	cursor:pointer;
	float:left;
	border:0;
	font-weight:bold;
	background-color:#000;
	color:#FFF;
}

.url_file[disabled]{background-color: #fff; border:1px solid #FFF; padding:5px 10px; float:left; width:325px;}

.exito_archivo{background: url("../imagenes/check.png") no-repeat scroll left center / 20px auto;color: #2d6ba4;margin: 5px auto;padding-left: 10px;text-align: center;width: 200px;}

.error_archivo{background: url(../imagenes/warning.png) no-repeat scroll left center / 30px; color: #F00;margin: 5px auto;padding-left: 30px;text-align: center; width: 300px; min-height:30px; overflow:hidden;}
