/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* start editing from here */
@import url(style4.css) screen;

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
/*ol,ul{list-style:none;margin:0;padding:0;}*/
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/*-contact start here--*/
body {
   background: #06B6FF;

   padding:50px 0px 30px 0px;
   font-family: 'Open Sans', sans-serif;
   font-size: 100%;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-justify{
    text-align: justify;
}

.contenedorTerminosCondiciones{
    background-color:#FFFFFF; 
    margin-top: 0px; 
    margin-left: 80px; 
    margin-right: 80px; 
    padding: 80px;
    border: 1px solid;
}

.tituloTerminosCondiciones{
    font-size: 35px;
    font-weight:bold;
    text-align: center;
}

.parrafoTerminosCondiciones{
    padding: 40px;
    text-align: justify;
}

.bold{
    font-weight: bold;
}

.listaNumerica{
    list-style-type: decimal;
}

.listaAlfabetica{
    list-style-type: lower-alpha;
}

.top-bar {
  background-size: cover;
  padding: 15px 0px;
 /* background: rgba(255,255,255,0.8); /* Old browsers */
/*background: -moz-linear-gradient(top,  #5541e0 1%, #6a5cdb 26%, #9f95eb 67%, #e1dcfa 93%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#5541e0), color-stop(26%,#6a5cdb), color-stop(67%,#9f95eb), color-stop(93%,#e1dcfa)); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top,  #5541e0 1%,#6a5cdb 26%,#9f95eb 67%,#e1dcfa 93%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top,  #5541e0 1%,#6a5cdb 26%,#9f95eb 67%,#e1dcfa 93%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(top,  #5541e0 1%,#6a5cdb 26%,#9f95eb 67%,#e1dcfa 93%); /* IE10+ */
/*background: linear-gradient(to bottom,  #5541e0 1%,#6a5cdb 26%,#9f95eb 67%,#e1dcfa 93%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5541e0', endColorstr='#e1dcfa',GradientType=0 ); /* IE6-9 */

}

#cabecera{
	width:100%;
	background-color:#000;
	margin:0px;
	padding:0px;
	overflow:hidden;
		
}
#contenedor{
	width:100%;
	overflow:hidden;
	min-height:400px;
	padding:0px;
	margin:0px;	
}
.blanco{
	color:#fff;	
}
.negro{
	color:#000;	
}
.textog{
	font-size:36px;
	font-weight:bold;
}
#menu_t{
	width:80%;
	background-color:#BFBFBF;
	padding:10px;
	border-radius:8px;
	overflow:hidden;
	margin:0 auto;
		margin-top:50px;
}
.botones_n{
	margin:5px;
	margin-left:10px;
	float:left;	
	width:10%;
	background:#000;
	padding:10px;
	border-radius:10px;
	text-align:center;
}
.botones_m{
	margin:5px;
	margin-left:10px;
	float:left;	
	width:110px;
	padding:10px;
	border-radius:10px;
	text-align:center;
	cursor:pointer;
}
.botones_m4{
	margin:5px;
	margin-left:10px;
		
	width:100px;
	padding:10px;
	border-radius:10px;
	text-align:center;
	cursor:pointer;
}
.botones_m3{
	margin:5px;
	margin-left:10px;
	float:left;	
	width:100px;
	padding:10px;
	border-radius:10px;
	text-align:center;
	cursor:pointer;
}

.botones_m3Sam{
	margin:5px;
	margin-left:10px;
	float:left;	
	width:100px;
	padding:10px;
	border-radius:10px 0px 0px 10px;
	text-align:center;
	cursor:pointer;
}

.botones_m2{
	margin:5px;
	margin-bottom:0px;
	margin-left:10px;
	float:left;	
	min-width:100px;
	padding:10px;
	border-radius:10px;
	text-align:center;
	cursor:pointer;
	font-size:12px;
}

.botones_m2Alterno{
	margin:5px;
	margin-bottom:0px;
	margin-left:10px;
	float:left;	
	min-width:100px;
	padding:10px;
	border-radius:10px;
	text-align:center;
	cursor:pointer;
	font-size:12px;
}

.botonesSPLA{
	margin:5px auto;
        max-width:120px;
	padding:10px;
	border-radius:10px;
	text-align:center;
	cursor:pointer;
	font-size:12px;
}

.botonesTopMenu{
    margin:5px;
    margin-bottom:0px;
    margin-left:10px;
    float:left;	
    min-width:85px;
    padding:10px;
    border-radius:10px;
    text-align:center;
    cursor:pointer;
    font-size:12px;
}

.botonesg{
	margin:5px;
	margin-bottom:10px;
	margin-left:10px;
	float:left;	
	padding:10px;
	border:2px solid #5D626B;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
	width:120px;
	
}

.botonBuscar{
    background-color:#000000; 
    color:#FFF; 
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding:3px;
    width:100px;
}

.activado1{
	background:#D9D9D9 !important;
	color:#000 !important;
	font-weight:bold;
}
.activado3{
	background:#D9D9D9 !important;
	color:#000 !important;
	font-weight:bold;
}
.activado2{
	background:#fff !important;
	color:#000 !important;
	font-weight:bold;
}
.activado4{
	background:#000 !important;
	color:#fff !important;
	font-weight:bold;
}
#boton1{
	background:#000;
	color:#fff;
	
	
}
#boton2{
	background:#7F7F7F;
	color:#fff;
	
}
#boton3{
	background:#0070C0;
	color:#000;
	
}
#boton4{
	background:#002060;
	color:#000;
	
}

/*inicio agregado para controlar mejor las pestañas del menu*/
.boton1{
	background:#000;
	color:#fff;
}

.boton2{
	background:#7F7F7F;
	color:#fff;
}

.boton3{
	background:#0070C0;
	color:#000;
}

.boton4{
	background:#002060;
	color:#000;
}

.boton5{
	background-color:#06B6FF; 
	color:#FFFFFF;
}

.botonesSAM{
	width:120px; 
	height:40px; 
	text-align:center; 
	line-height:40px; 
	border-radius:10px; 
	float:right; 
	margin-left:10px; 
	cursor:pointer;
}

.btnSamElim{
	float:left; 
	width:100px; 
	height:40px; 
	text-align:center; 
	line-height:40px; 
	margin-left:20px; 
	border:1px solid; 
	cursor:pointer; 
	overflow:hidden; 
	border-radius:10px;
}

/*inicio estilo botones despliegue*/
.contBtnGeneralDespliegue{
    width:97%;
}

.botonDespliegue{
    background:#000;
    color:#fff;
    margin:0;
    width:150px;
    padding:10px;
    border-radius:10px;
    text-align:center;
    cursor:pointer;
    font-size:12px;
    display: inline-block;
}

.divDespliegue{
    margin:5px;
    margin-bottom:0px;
    margin-left:10px;
    width:auto;
    padding:10px;
    text-align:center;
    font-size:12px;
}

.botonDespliegueAct{
    background:#000;
    color:#fff;
    margin:0 auto;
    width:150px;
    padding:10px;
    border-radius:10px;
    text-align:center;
    cursor:pointer;
    font-size:12px;
}

.contBtnDespliegue{
    width:25%;
    overflow:hidden;
}

.contDespliegueCentral{
    width:49%;
    overflow:hidden;
}
/*fin estilo botones despliegue*/


.tablap .sombreadoFila{
        background-color:red;
        color: #FFFFFF;
}

#bodyTable tr.sombreadoFila{
    background-color: #DCDCDC;
    color: #FFFFFF;
}
/*fin agregado para controlar mejor las pestañas del menu*/

.uppercase{
    text-transform:uppercase;  
}
/*inicio estilo procesos SAM*/
.tamNube{
	width:150px; 
	height:100px;
}

.contenedorProcesosSamLeft{
	float:left; 
	width:19%; 
	height:400px; 
	border:1px solid; 
	padding:10px; 
	text-align:center;
}	

.contenedorProcesosSamRight{
	float:left; 
	width:74%; 
	min-height:400px; 
	padding:10px; 
	text-align:center;
}

.centrarContProcesoSamRight{
	padding:4% 0;
}

.filaProceso{
	float:left;
	margin-left:10px; 
	margin-bottom:10px; 
	width:100%; 
	height:auto; 
}

.cuadrado1{
	float:left; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border-radius: 10px; 
	width:100%; 
	height:80px; 
	line-height:80px; 
	color:#FFFFFF; 
	background-color: #06B6FF; 
	text-align:center; 
	font-size:25px; 
}

.alinearCirculo{
	float:left; 
	height:80px; 
	line-height:80px; 
	/*margin-top:10px;*/
}

.circulo{
	width:10px; 
	height:10px; 
	background:#000000; 
	-moz-border-radius: 70px; 
	-webkit-border-radius: 70px; 
	border-radius: 70px; 
	top:50%; 
	position:relative; 
	margin-top:-5px; 
	margin-left:5px;
}

.contProcesos{
	float:left; 
	-moz-border-radius: 0px 10px 10px 0px; 
	-webkit-border-radius: 0px 10px 10px 0px; 
	border-radius: 0px 10px 10px 0px; 
	width:calc(100% - 20px); 
	height:80px; 
	background-color: #B9C9DD; 
	text-align:left; 
	font-size:25px;
	font-weight:bold; 
	margin-left:5px; 
}

.contArchivos{
	float:right;
	width:110px;
	height:100px;
	border:1px solid;
	cursor:pointer; 
	overflow:hidden;
}

.estiloTabla{
	display: table;
}

.centrarContTabla{
	display: table-cell; 
	vertical-align: middle;
	overflow:hidden;
}

.contenedorTabla {
	display: table;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	overflow-x:auto;
	margin-right:-10px;
}
.contenidosTabla {
	display: table-row;
	height:120px; 
}
.columna1Tabla{
	display: table-cell;
	vertical-align: middle;
	width:95px; 
}

.columna2Tabla{
	display: table-cell;
	vertical-align: middle;
	
}

.columna3Tabla {
	display: table-cell;
	vertical-align: middle;
	width: 110px;
}

.btn-elim{
	float: right;
	margin: 10px;
	font-size: 21px;
	font-weight: bolder;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
	cursor:pointer;
}
/*fin estilo procesos SAM*/

/*inicio tableSorter*/
.tablap thead {
    cursor: pointer;
}

.tablap thead tr th span { 
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 55%;
}

/*.tabla thead tr th.headerSortUp,
.tabla thead tr th.headerSortDown {
    background: rgba(0, 0, 0, .2);
}*/
.tablap thead tr th.header span {
    background-image: url('https://licensingassurance.com/webtool/imagenes/bg.gif');
}

.tablap thead tr th.headerSortUp span {
    background-image: url('https://licensingassurance.com/webtool/imagenes/asc.gif');
}

.tablap thead tr th.headerSortDown span {
    background-image: url('https://licensingassurance.com/webtool/imagenes/desc.gif');
}
/*fin tableSorter*/

.pointer{
    cursor : pointer;
}

/*body > #smartAlert{
    background-color:#000;
    filter:alpha(opacity=0.95);
    opacity:0.95;
}*/

.fondo{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1000;
    background-color:#000;
    filter:alpha(opacity=0.70);
    opacity:0.70;
}

.fondo1{
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:1500;
    background-color:#000;
    filter:alpha(opacity=0.70);
    opacity:0.70;
    display:none;
}

/*inicio modal a eliminar*/
.modal-compras{
    position:fixed; 
    z-index:1550; 
    width:900px; 
    max-height:600px;
    overflow:hidden;
    left:50%;
    margin-left:-450px;
    top:50px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    display: none;
}

.modal-compras-head{
    background-color: #FFFFFF;
    overflow: hidden;  
    height:50px;
    border-bottom: 1px solid #DCDCDC;
    padding: 10px;
}

.modal-compras-body{
    background-color:#FFFFFF;
    overflow-x:hidden; 
    overflow-y:auto; 
    max-height:400px;
    padding:20px;
}

.modal-compras-footer{
    background-color: #FFFFFF;
    overflow:hidden;  
    height:50px;
    border-top:1px solid #DCDCDC;
    padding:10px;
}

.modal-md-compras{
    width:600px;
    margin-left:-300px;
}
/*fin modal a eliminar*/

/*inicio modal*/
.modal-personal{
    position:fixed; 
    z-index:1550; 
    width:900px; 
    max-height:600px;
    overflow:hidden;
    left:50%;
    margin-left:-450px;
    top:50px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    display: none;
}

.modal-personal-head{
    background-color: #FFFFFF;
    overflow: hidden;  
    height:50px;
    border-bottom: 1px solid #DCDCDC;
    padding: 10px;
}

.modal-personal-body{
    background-color:#FFFFFF;
    overflow-x:hidden; 
    overflow-y:auto; 
    max-height:400px;
    padding:20px;
}

.modal-personal-footer{
    background-color: #FFFFFF;
    overflow:hidden;  
    height:50px;
    border-top:1px solid #DCDCDC;
    padding:10px;
}

.modal-personal-md{
    width:600px;
    margin-left:-300px;
}

.modal-personal-lg{
    width:1024px;
    margin-left:-510px;
}
/*fin modal*/

.modal-diagrama{
    position:fixed; 
    z-index:1550; 
    width:1024px;
    height:600px;
    overflow:hidden;
    left:50%;
    margin-left:-512px;
    top:50%;
    margin-top:-300px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color:#000000;
    display: none;
}

/*inicio estilo ayuda*/
.contenedorAyuda{
    padding: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -flex;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.vertical{
    padding: 3px;
    width: 49%;
    height: 70px;
}

.centrarDivAyudaLevantamiento{
    margin:0 auto; 
    width:250px; 
    margin-top:15px;
}

.botonesAyuda{
    width:325px;
    padding:10px;
    border-radius:10px;
    text-align:center;
    margin:0 auto;
    background: rgba(163,163,163,1);
    background: -moz-linear-gradient(top, rgba(163,163,163,1) 0%, rgba(207,205,207,1) 18%, rgba(163,163,163,1) 55%, rgba(189,185,189,1) 80%, rgba(163,163,163,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(163,163,163,1)), color-stop(18%, rgba(207,205,207,1)), color-stop(55%, rgba(163,163,163,1)), color-stop(80%, rgba(189,185,189,1)), color-stop(100%, rgba(163,163,163,1)));
    background: -webkit-linear-gradient(top, rgba(163,163,163,1) 0%, rgba(207,205,207,1) 18%, rgba(163,163,163,1) 55%, rgba(189,185,189,1) 80%, rgba(163,163,163,1) 100%);
    background: -o-linear-gradient(top, rgba(163,163,163,1) 0%, rgba(207,205,207,1) 18%, rgba(163,163,163,1) 55%, rgba(189,185,189,1) 80%, rgba(163,163,163,1) 100%);
    background: -ms-linear-gradient(top, rgba(163,163,163,1) 0%, rgba(207,205,207,1) 18%, rgba(163,163,163,1) 55%, rgba(189,185,189,1) 80%, rgba(163,163,163,1) 100%);
    background: linear-gradient(to bottom, rgba(163,163,163,1) 0%, rgba(207,205,207,1) 18%, rgba(163,163,163,1) 55%, rgba(189,185,189,1) 80%, rgba(163,163,163,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3a3a3', endColorstr='#a3a3a3', GradientType=0 );
    color: #FFFFFF;
}

.opcionesAyuda{
    margin-left:30px;
    width:45%;
}

.opcionesAyuda ul li a.link1{
    margin-left:20px;
}

.opcionesAyuda ul li p{
    margin-left:20px;
    padding-right:40px;
}

.opcionesAyuda ul li p.segundo{
    margin-left:40px;
    padding-right:40px;
}

.margenAyuda{
    margin-left: 30px;
    padding-right: 30px;
}

.contenedorPoliticasAyuda{
    width:calc(100%-30px); 
    margin-right:30px; 
    margin-left:30px;
    overflow:hidden;
}

.contenedorPoliticasAyuda div{
    float:left; 
}

.contenedorPoliticasAyuda div.dosBloques{
    width:50%;
}

.contenedorRow{
    width:100%;
    overflow:hidden;
    margin-top: 20px;
}

.divSmall{
    width:150px;
}
/*fin estilo ayuda*/

/*inicio cotizacion*/
.contenedorInicioCotizacion{
    width: 500px; 
    height: auto; 
    margin: 0 auto; 
    font-weight: bold;
}

.contenedorInicioCotizacion p{
    font-size: 38px; 
    line-height: 38px;
    text-align: center;
}

.contenedorImagenCotizacion{
    width:100px; 
    margin: 0 auto;
}

.autoAjustar{
    width:100%; 
    height:auto;
}
/*fin cotizacion*/

/*inicio estilo de colores de fondo*/
.backgroundColor0{
    background-color: #FFFFFF;
}

.backgroundColor1{
    background-color: #DCDCDC;
}

.backgroundColor2{
    background-color: #99BFDC;
}

.backgroundColor3{
    background-color: #243C67;
}

.backgroundColor4{
    background-color: #00AFF0;
}

.backgroundColor5{
    background-color: #006FC0;
}

.backgroundColor6{
    background-color: #95DEF8;
}

.backgroundColor7{
    background-color: #579BCC;
}

.backgroundColor8{
    background-color: #344970;
}

.backgroundColor9{
    background-color: #047FB3;
}

.backgroundColor10{
    background-color: #05B5FE;
}
/*fin estilo de colores de fondo*/

/*inicio estilo de colores highcharts*/
/* Since we're redefining colors after highcharts.css, we need to be specific 
because otherwise some properties would be overwritten. Note that the preferred and 
much simpler way to change the color scheme is to set the colors array in the highcharts.scss 
SASS file and build it to CSS. */
.highcharts-point.highcharts-color-0,
.highcharts-legend-item.highcharts-color-0 .highcharts-point,
.highcharts-tooltip .highcharts-color-0 {
	fill: #DCDCDC;
}
.highcharts-tooltip.highcharts-color-0,
.highcharts-data-label-connector.highcharts-color-0 {
	stroke: #DCDCDC;
}

.highcharts-point.highcharts-color-1,
.highcharts-legend-item.highcharts-color-1 .highcharts-point,
.highcharts-tooltip .highcharts-color-1 {
	fill: #99BFDC;
}
.highcharts-tooltip.highcharts-color-1,
.highcharts-data-label-connector.highcharts-color-1 {
	stroke: #99BFDC;
}

.highcharts-point.highcharts-color-2,
.highcharts-legend-item.highcharts-color-2 .highcharts-point,
.highcharts-tooltip .highcharts-color-2 {
	fill: #243C67;
}
.highcharts-tooltip.highcharts-color-2,
.highcharts-data-label-connector.highcharts-color-2 {
	stroke: #243C67;
}

.highcharts-point.highcharts-color-3,
.highcharts-legend-item.highcharts-color-3 .highcharts-point,
.highcharts-tooltip .highcharts-color-3 {
	fill: #00AFF0;
}
.highcharts-tooltip.highcharts-color-3,
.highcharts-data-label-connector.highcharts-color-3 {
	stroke: #00AFF0;
}

.highcharts-point.highcharts-color-4,
.highcharts-legend-item.highcharts-color-4 .highcharts-point,
.highcharts-tooltip .highcharts-color-4 {
	fill: #006FC0;
}
.highcharts-tooltip.highcharts-color-4,
.highcharts-data-label-connector.highcharts-color-4 {
	stroke: #006FC0;
}

.highcharts-point.highcharts-color-5,
.highcharts-legend-item.highcharts-color-5 .highcharts-point,
.highcharts-tooltip .highcharts-color-5 {
	fill: #95DEF8;
}
.highcharts-tooltip.highcharts-color-5,
.highcharts-data-label-connector.highcharts-color-5 {
	stroke: #95DEF8;
}

.highcharts-point.highcharts-color-6,
.highcharts-legend-item.highcharts-color-6 .highcharts-point,
.highcharts-tooltip .highcharts-color-6 {
	fill: #579BCC;
}
.highcharts-tooltip.highcharts-color-6,
.highcharts-data-label-connector.highcharts-color-6 {
	stroke: #579BCC;
}

.highcharts-point.highcharts-color-7,
.highcharts-legend-item.highcharts-color-7 .highcharts-point,
.highcharts-tooltip .highcharts-color-7 {
	fill: #344970;
}
.highcharts-tooltip.highcharts-color-7,
.highcharts-data-label-connector.highcharts-color-7 {
	stroke: #344970;
}

.highcharts-point.highcharts-color-7,
.highcharts-legend-item.highcharts-color-7 .highcharts-point,
.highcharts-tooltip .highcharts-color-7 {
	fill: #047FB3;
}
.highcharts-tooltip.highcharts-color-7,
.highcharts-data-label-connector.highcharts-color-7 {
	stroke: #047FB3;
}

.highcharts-point.highcharts-color-7,
.highcharts-legend-item.highcharts-color-7 .highcharts-point,
.highcharts-tooltip .highcharts-color-7 {
	fill: #05B5FE;
}
.highcharts-tooltip.highcharts-color-7,
.highcharts-data-label-connector.highcharts-color-7 {
	stroke: #05B5FE;
}

.highcharts-point.highcharts-color-7,
.highcharts-legend-item.highcharts-color-7 .highcharts-point,
.highcharts-tooltip .highcharts-color-7 {
	fill: #81816A;
}
.highcharts-tooltip.highcharts-color-7,
.highcharts-data-label-connector.highcharts-color-7 {
	stroke: #81816A;
}
/*fin estilo de colores highcharts*/

.navg {
  float: left;
  position: relative;
}
.top-bar h2 {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
   width: 30%;
  margin: 0 auto;
}
.navg ul {
  list-style: none;
  margin: 15px 0px 0px 0px;
  background: #39DAF7;
  position: absolute;
  top: 60%;
  left: 45%;
}
span.menu{
     display:block;
     cursor:pointer;
	 text-align:left;
	 padding: 0px 0px 0px 25px;
}
ul.res{
	 display:none;
	 padding: 5px 35px 5px 35px;
	 z-index: 1;
}
ul.res li a:hover,ul.res li a.active{
	 color:black;
	 transition: 0.5s all;
 -webkit-transition: 0.5s all;
 -moz-transition:  0.5s all;
 -o-transition:  0.5s all;
}
.navg ul.res li a {
	display: block;
	padding: 10px;
	color: #fff;
	font-size: 14px;
	background: #39DAF7;
}
.navg ul.res li a:hover{
	color:#000;
}
.navg ul.res li{
	display:block;
	text-align:center;
	margin:0px;
	background-color:#fff;
}	
.app {
  width: 33%;
  text-align: center;
}
.appr {
  width: 33%;
  text-align: center;
}
.cam-img {
  margin: 20px 0px 35px 0px;
  position:relative;
}
.cam-img a {
  display: block;
}
.cam-img img {
  width: 33%;
}
.cam-img input[type="file"] {
  width: 210px;
  height: 200px;
  background: url(../images/sub-draw.png)no-repeat;
  display: inline-block;
  outline: none;
  position: absolute;
  top:0%;
  left: 30%;
  opacity: 0;
  cursor: pointer;
}
.app input[type="text"] {
  outline: none;
  font-size: 24px;
  font-weight: 400;
  color: #D8D8D8;
  padding: 10px 10px 10px 20px;
  margin: 0px 0px 25px 0px;
  width: 80%;
  border-bottom: 1px solid #5B9BD5;
  -webkit-appearance: none;
  border-top: 1px solid #5B9BD5;
  border-right: 1px solid #5B9BD5;
  border-left: 1px solid #5B9BD5;
  -webkit-box-shadow: 3px 5px 7px -2px rgba(195,203,224,1);
-moz-box-shadow: 3px 5px 7px -2px rgba(195,203,224,1);
box-shadow: 3px 5px 7px -2px rgba(195,203,224,1);
border-radius:4px;
}
.app input[type="password"] {;
  outline: none;
  font-size: 24px;
  font-weight: 400;
  color: #D8D8D8;
  padding: 10px 10px 10px 20px;
  margin: 0px 0px 25px 0px;
  width: 80%;
  border-bottom: 1px solid #5B9BD5;
  -webkit-appearance: none;
  border-top: 1px solid #5B9BD5;
  border-right: 1px solid #5B9BD5;
  border-left: 1px solid #5B9BD5;
  -webkit-box-shadow: 3px 5px 7px -2px rgba(195,203,224,1);
-moz-box-shadow: 3px 5px 7px -2px rgba(195,203,224,1);
box-shadow: 3px 5px 7px -2px rgba(195,203,224,1);
border-radius:4px;
  
}
.app input[type="submit"] {
  background: #333333;
  color: #FFF;
  font-size: 25px;
  font-weight: 300;
  width: 71%;
  padding: 14px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 20px 0px 0px 0px;
  border: none;
  cursor: pointer;
  outline: none;
}
.app input[type="submit"]:hover {
  background: #858793;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}


.app input[type="button"] {
  background: #333333;
  color: #FFF;
  font-size: 25px;
  font-weight: 300;
  width: 71%;
  padding: 14px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 20px 0px 0px 0px;
  border: none;
  cursor: pointer;
  outline: none;
}
.app input[type="button"]:hover {
  background: #858793;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}


.app p {
  font-size: 19px;
  color: #5A6779;
  margin: 10px;
}
.app p a{
  font-size: 14px;
  font-weight:bold;
  color:#5B9BD5;
}
.app p a:hover{
  color: #000;
}

.copyright {
  padding: 40px 0px 0px 0px;
  text-align: center;
}
.copyright p {
  font-size: 16px;
  font-weight: 400;
  color:#000;
}
.copyright p a{
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.copyright p a:hover{
	color:#39DAF7;
	 transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.clear{
	clear:both;
}
/*--meadia quiries start here--*/
@media(max-width:1440px){
.cam-img img {
  width: 30%;
}
.app input[type="submit"] {
  font-size: 25px;
  width: 90%;
  padding: 12px 28px;
  margin: 15px 0px 0px 0px;
}
.app input[type="text"] {
  font-size: 20px;
}
.app input[type="password"] {
  outline: none;
}
.cam-img input[type="file"] {
  width: 135px;
  height: 135px;
  left: 35%;
}
span.menu img {
  width: 80%;
}
span.menu {
  padding: 7px 0px 0px 25px;
}
}
@media(max-width:1366px){
.app input[type="submit"] {
  font-size: 20px;
}
.top-bar {
  padding: 10px 0px;
}
}
@media(max-width:1280px){
.app input[type="submit"] {
  width: 75%;
}
}
@media(max-width:1024px){
.app {
  padding: 0px 0px 40px 0px;
}
.app input[type="text"] {
  font-size: 20px;
  background: url(../images/email.png)no-repeat 0px 12px;
  margin: 0px 0px 20px 0px;
}
.app input[type="password"] {
  background: url(../images/lock.png)no-repeat 0px 7px;
  font-size: 20px;
  margin: 0px 0px 20px 0px;
}
.app input[type="submit"] {
  font-size: 20px;
  width: 79%;
  padding: 13px 28px;
  margin: 5px 0px 0px 0px;
}
.app p {
  margin: 25px 0px 0px 0px;
  font-size: 15px;
  padding: 0px 4px;
}
.app p a {
  font-size: 19px;
}
span.menu img {
  width: 83%;
}
.top-bar h2 {
  font-size: 25px;
}
.cam-img input[type="file"] {
  width: 100px;
  height: 100px;
}
}
@media(max-width:768px){
.app {
  width: 47%;	
  padding: 0px 0px 40px 0px;
}
.app input[type="submit"] {
  width: 78%;
  margin: 20px 0px 0px 0px;
  font-size: 25px;
  padding: 15px 28px;
}
span.menu img {
  width: 75%;
}
.top-bar {
  padding: 15px 0px;
}
.app p {
  margin: 80px 0px 0px 0px;
}
body {
  padding: 85px 0px 30px 0px;
}
.copyright {
  padding: 125px 0px 0px 0px;
}
}
@media(max-width:640px){
.cam-img  a img {
  width: 35%;
}
.app input[type="submit"] {
  width: 82%;	
  font-size: 20px;
  padding: 12px 28px;
}
.app p a {
  font-size: 15px;
}
.app p {
  font-size: 15px;
   margin: 60px 0px 0px 0px;
}
.cam-img {
  margin: 40px 0px 40px 0px;
}
}
@media(max-width:480px){
.top-bar h2 {
  font-size: 22px;	
  width: 31%;
}
.menu img {
  width: 75%;
}
span.menu {
  padding: 0px 0px 0px 17px;
}
body {
  padding: 50px 0px 30px 0px;
}
.app input[type="text"] {
  background: url(../images/email.png)no-repeat 0px 14px;
  font-size: 19px;
  margin: 0px 0px 20px 0px;
}
.app input[type="password"] {
  background: url(../images/lock.png)no-repeat 0px 6px;
  font-size: 19px;
  margin: 0px 0px 20px 0px;
}
.app input[type="submit"] {
  width: 82%;
  font-size: 17px;
  padding: 10px 28px;
  margin: 25px 0px 0px 0px;
}
.app {
  padding: 0px 0px 25px 0px;
  width: 65%;
}
span.menu img {
  width: 65%;
}
.navg ul {
  top: 50%;
  left: 30%;
}
}
@media(max-width:320px){
.menu img {
  width: 50%;
}
.top-bar h2 {
  font-size: 18px;
}
.top-bar {
  padding: 10px 0px;
}	
.app a img {
  width: 37%;
}
.app input[type="text"] {
  background: url(../images/email.png)no-repeat 2px 7px;
  font-size: 15px;
  margin: 0px 0px 10px 0px;
  padding: 10px 10px 10px 45px;
}
.app input[type="password"] {
  background: url(../images/lock.png)no-repeat 2px 0px;
  font-size: 15px;
  margin: 0px 0px 10px 0px;
  padding: 10px 10px 10px 45px;
}
.app input[type="submit"] {
  width: 81%;
  font-size: 15px;
  padding: 7px 28px;
  margin: 17px 0px 0px 0px;
}
.app p {
  font-size: 13px;
  margin: 20px 0px 0px 0px;
}
.app p a {
  font-size: 12.5px;
}
.copyright p {
  font-size: 13px;
}
.copyright p a {
  font-size: 13px;
}
.copyright {
  padding: 16px 0px 0px 0px;
}
body {
  padding: 40px 0px 20px 0px;
}
.navg ul.res li a {
  padding: 5px;
  font-size: 11px;
}
.app {
  width: 86%;
}
.cam-img {
  margin: 20px 0px 20px 0px;
}
.cam-img input[type="file"] {
  left: 30%;
}
}
/*--meadia quiries end here--*/

/*inicio estilo dashboard*/
    .contenedorDashboard{
        width: 890px; 
        overflow: hidden; 
        margin: 0 auto;
    }
    
    .contVentanaDashboard{
        width: 100%; 
        height: 390px;
        overflow: hidden;
    }
    
    .ventanaSuperior{
        width: 100%; 
        height: 63px; 
        background-color:#F2F2F2; 
        border-color: #ccc; 
        overflow: hidden;
    }
    
    .ventanaInferior{
        width: 100%; 
        height: 290px; 
        background-color:#fff; 
        overflow:hidden; 
        padding:30px;
    }
    
    .contInteriorVentana{
        width: calc(100% - 60px); 
        height: 270px; 
        top: 50%; 
        margin-top: -135px; 
        position: relative; 
        overflow: hidden;
    }
    
    .contGraficoVentana{
        float: left; 
        width: 260px; 
        height: 250px; 
        border: 4px solid #F2F2F2; 
        overflow: hidden;
        margin-right: 20px;
    }
    
    .contInfoVentana{
        float: right; 
        width: 250px; 
        height: 265px; 
        overflow: hidden;
    }
    
    .contDivInfo{
        width: calc(100% - 20px); 
        height: 44px; 
        margin-bottom: 9px; 
        float: right;
        background-color:#06B6FF; 
        color:#FFFFFF;
        font-size:16px;
        line-height:44px;
        padding-left:20px;
    }
    
    .contTituloDashborad{
        width: 250px; 
        height: 44px; 
        margin: 10px; 
        background-color:#06B6FF; 
        color:#FFFFFF;
        font-size:25px;
        line-height:44px;
        padding-left: 20px;
    }
    
    .tamGraficoDashboard{
        height:240px; 
        width:220px; 
        margin:10px;
    }
    
    /*inicio estilo contenedores pequeños*/
    .contVentanaDashboard1{
        width: 48%; 
        height: 390px;
        overflow: hidden;
    }
    
    .ventanaSuperior1{
        width: 100%; 
        height: 63px; 
        background-color:#F2F2F2; 
        border-color: #ccc; 
        overflow: hidden;
    }
    
    .ventanaInferior1{
        width: 100%; 
        height: 290px; 
        background-color:#fff; 
        overflow:hidden; 
        padding:30px;
    }
    
    .contInfoVentana1{
        margin-left: 20px; 
        width: 250px; 
        height: 265px; 
        overflow: hidden;
    }
    /*fin contenedores pequeños
    fin estilo dashboard*/
    
    /*inicio estilo select dashboard*/
    select.glyphIconCombo{
        border:0;
        padding: 10px;
        width:250px;
        margin:10px;
        height:44px;
        border-radius:3px;
        -moz-appearance: none;    
        -webkit-appearance: none;
        appearance: none;
        background-color: #F2F2F2;
        outline: 0px;
        cursor: pointer;
    }
    
    .glyphIconMethod{
        display: inline-block;
        position: relative;
    }
    
    .glyphIconMethod select{
        background: transparent;
    }
    
    .glyphIconMethod::after{
        content: "\f13a";
        font-family: "FontAwesome";
        font-size:20px;
        position: absolute;
        right:20px;
        top:calc(50% - 10px);
        pointer-events: none;
    }
    /*fin estilo select dashboard*/
