html, body{
    background: #f0f3f4;
}

.bordeEncabezado{
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border: 1px solid #007bff;
}

.contenedorCentral{
    background: #204d74;
    color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.cabeceraWelcome{
    background: #ffffff;
}

.colorTituloCabeceraWelcome{
    color: #002060;
}

.colorParrafoCabeceraWelcome{
    color: #007bff;
}

.pointer{
    cursor: pointer;
}

.fondoEmailSend{
    background : #596a95;
}

.fondoImgEmailSend{
    background : #ffffff;
}

.colorParrafoEmailSend{
    color: #005581;
}

a.hipervinculoEmailSend{
    font-size: 18px;
}