html, body{ 
    background: url('../images/background1.png') no-repeat center center fixed; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}

.barra{
    width:100%; 
    height:4vw; 
    margin-top:2vw; 
    border-radius: 0.8vw;
    -moz-border-radius: 0.8vw;
    -webkit-border-radius: 0.8vw; 
    background:#0070c0;
}

.slides_container{ 
    max-width: 15vw; 
    height: 3.8vw; 
    margin-left:1vw;
    float: left;
}

.selected_slide{
    max-width: 15vw; 
    height: 3.8vw; 
    margin-left:1vw;
    float: left;
}

.slides_container-right{ 
    width: auto; 
    height: 3.8vw;
    margin-right: 1vw;
    float: right;
}

.theslides{
    display:none; 
    height: 100%; 
    width: auto;
}

.theslides-right{
    height: 100%; 
    width: auto;
}

.btn-opc{
    margin-top:0;
    padding-top:0;
    height: 4vw;
    line-height: 4vw;
    background: transparent;
    border: none;
    color:#ffffff;
    font-size: 1vw;
    border-radius: 0.8vw;
    -moz-border-radius: 0.8vw;
    -webkit-border-radius: 0.8vw; 
}
    
.selectButton{
    float:left; 
    margin-left:2vw; 
    height:100%;
}

.caret{
    border-top: 0.5vw dashed;
    border-top: 0.5vw solid \9;
    border-right: 0.5vw solid transparent;
    border-left: 0.5vw solid transparent;
}

.four_sidebar{ 
    border: none; 
    border-radius: 10px; 
    background: #f2f2f2;
}

.four h1{ 
    font-size: 2.5vw;
    color: #0070c0; 
    font-weight: bold; 
    text-align: center; 
}

.four p{ 
    color: #0D47A1; 
    font-weight: bold; 
}

.four_button_one, .four_button_two, .four_button_three, .four_button_four{ 
    font-size: 1vw;
    width: 100%; 
    height: 3vw; 
    margin: 0.5%; 
    background: #bdd7ee !important; 
    color: #fff; 
    border: none !important; 
    padding: 10px; 
    border-radius: 0.5vw;
    -moz-border-radius: 0.5vw;
    -webkit-border-radius: 0.5vw; 
}   

.four_button_two{ 
    background: #0099ff !important; 
}  

.four_button_three{ 
    background: #0070c0 !important; 
}  

.four_button_four   { 
    background: #00b0f0 !important; 
} 

.imgGetNow{
     width:3.5vw; 
     height:auto;
}

.btnApp{
    width:11vw; 
    height:auto;
    cursor: pointer;
}

.cuadro{
    border: 0.1vw dashed;
    height: 13vw;
}

.cuadro > .titulo{
    font-size: 1.5vw;
    font-weight: bold;
    color: #00b0f0;
}

.cuadro > .row > .content{
    font-size: 1vw;
    font-weight: bold;
    color: #000000;
}

.modal_container{ 
    height: 100%; 
    width: 100%; 
    margin: 0 auto;
}

.modal_video{ 
    height: 40vw; 
    max-height: 100%; 
    width: 40vw; 
    max-width: 100%; 
    margin: 0 auto;
}

.foot{
    margin-top: 2vw;
    font-size: 1vw;
    font-weight: bold;
    color: #002060;
    text-align: center;
}