ul.pestania{
    width: 80%;
    background:#363636;
    list-style: none;
    display: flex;
}

.active3{
    background: #0984CC;
}

ul.pestania li{
    width: 50%;
}

ul.pestania li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    
    display: block;
    padding: 10px 0px;
}

