/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* start editing from here */
html,body,div,span,applet,object,iframe,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
td{
	margin:0;padding:5px;border:0;font-size:100%;font:inherit;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;
color:#000;}

a:hover{
	text-decoration:underline;
}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:95%;}
/*end reset*/
/*-contact start here--*/
body {
   background:url(../imagenes/inicio/bg_body.jpg) top left repeat;
   background-size: cover;
   padding:50px 0px 30px 0px;
   font-family: 'Open Sans', sans-serif;
   font-size: 100%;
}
.top-bar {
  background-size: cover;
  padding: 15px 0px;
  background: #5f9d30; /* Old browsers */
/*background: -moz-linear-gradient(top,  #5f9d30 1%, #5f9d30 26%, #a0d571 67%, #E6F3DA 93%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#5f9d30), color-stop(26%,#5f9d30), color-stop(67%,#a0d571), color-stop(93%,#E6F3DA)); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top,  #5f9d30 1%,#5f9d30 26%,#a0d571 67%,#E6F3DA 93%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top,  #5f9d30 1%,#5f9d30 26%,#a0d571 67%,#E6F3DA 93%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(top,  #5f9d30 1%,#5f9d30 26%,#a0d571 67%,#E6F3DA 93%); /* IE10+ */
/*background: linear-gradient(to bottom,  #5f9d30 1%,#5f9d30 26%,#a0d571 67%,#E6F3DA 93%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f9d30', endColorstr='#E6F3DA',GradientType=0 ); /* IE6-9 */

}
.navg {
  float: left;
  position: relative;
}
.top-bar h2 {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
   width: 100%;
  margin: 0 auto;
}
.navg ul {
  list-style: none;
  margin: 15px 0px 0px 0px;
  background: #39DAF7;
  position: absolute;
  top: 60%;
  left: 45%;
}
span.menu{
     display:block;
     cursor:pointer;
	 text-align:left;
	 padding: 0px 0px 0px 25px;
}
ul.res{
	 display:none;
	 padding: 5px 35px 5px 35px;
	 z-index: 1;
}
ul.res li a:hover,ul.res li a.active{
	 color:black;
	 transition: 0.5s all;
 -webkit-transition: 0.5s all;
 -moz-transition:  0.5s all;
 -o-transition:  0.5s all;
}
.navg ul.res li a {
	display: block;
	padding: 10px;
	color: #fff;
	font-size: 14px;
	background: #39DAF7;
}
.navg ul.res li a:hover{
	color:#000;
}
.navg ul.res li{
	display:block;
	text-align:center;
	margin:0px;
	background-color:#fff;
}

.derechadiv ul li{
	float:left;
	margin:15px;	
}
	
.app {
  width: 33%;
  margin: 0 auto;
  text-align: center;
  padding: 0px 0px 30px 0px;
  
}
.app2 {
  background:#fff;
  width: 95%;
  margin: 0 auto;
  text-align: center;
  padding: 0px 0px 30px 0px;
  min-height:500px;
  border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 0px solid #000000;
}

.logo2 img{
	float:left;
	margin:5px;
	padding:5px;
}
.titulo2{
	width:97%;
	text-align:center;
	clear:both;
	margin:0 auto;
}
.izquierdac{
	float:left;
  margin: 0.5%;
    padding: 0.3%;
    width: 30%;	
}
#conte_opciones{
	width:90%; 
	margin:0 auto; 
	overflow:hidden;
}

.cabeceratil{
	width:100%;
	  border-bottom: 1px solid #999;
  -webkit-appearance: none;
  border-top: none;
  border-right: none;
  border-left: none;
  clear:both;
  text-align:center;
 color: #000;
    font-size: 32px;
    font-weight: 700;
	
}
.cabeceratil2{
	width:100%;
	 
  clear:both;
  text-align: left;
 color: #29628d;
    font-size: 32px;
    font-weight: 700;
	padding:5px;
	
}
.formul{
 -moz-appearance: none;
    background-color: #C3C3C3;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    color: #0066b2;
    display: inline-block;
    font-size: 13px;

    padding: 5px;
	width:60%;

}
.formul2{
 -moz-appearance: none;
    background-color: #C3C3C3;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    color: #0066b2;
    display: inline-block;
    font-size: 13px;
    margin: 10px 0;
    padding: 5px;
	width:80%;

}
.izquierdal{
	float:left;
	margin:20px;	
}
.paginator_check{
	background:#5f9d30;
	padding:5px;
	color:#FFF;
	font-size:16px;
}
.paginator{
		background:#29628d;
	padding:5px;
	color:#FFF;
	font-size:16px;
	margin-top:10px;
}
.paginator:active, .paginator:visited{
	color:#FFF;
}
.boton {
	   border: solid 1px #E5E5E5;  
    outline: 0;
	background:#000;
	  background-color:#333;
	  color: #FFF;
	  font-weight:bold;
	  cursor:pointer;
	  padding: .4em 1em;
	  border-radius:8px;
  } 
.boton:hover {
	background:#1B405A;
	  
  }
.iconoscabecera{
	width:100%;
	margin-right:20px;
}
.derechadiv{
	float:right;
}
.iconoscabecera ul{
	list-style:none;
}
.iconoscabecera ul li{
	float:left;
	margin:2px;
	   vertical-align: bottom;
	   width:30px;
	   padding-top:10px;
	   overflow:hidden;
}
.iconoscabecera ul li img{
	vertical-align:bottom;
	
}
.cam-img {
  margin: 40px 0px 35px 0px;
  position:relative;
}
.cam-img a {
  display: block;
}

.cam-img input[type="file"] {
  width: 210px;
  height: 200px;
  background: url(../images/sub-draw.png)no-repeat;
  display: inline-block;
  outline: none;
  position: absolute;
  top:0%;
  left: 30%;
  opacity: 0;
  cursor: pointer;
}
.app input[type="text"] {
  background: url(../images/email.png)no-repeat 0px 14px;
  outline: none;
  font-size: 24px;
  font-weight: 400;
  color: #29628D;
  padding: 10px 10px 10px 39px;
  margin: 0px 0px 25px 0px;
  width: 60%;
  border-bottom: 1px solid #999;
  -webkit-appearance: none;
  border-top: none;
  border-right: none;
  border-left: none;
}
.app input[type="password"] {
  background: url(../images/lock.png)no-repeat 0px 4px;
  outline: none;
  font-size: 24px;
  font-weight: 400;
  color: #29628D;
  padding: 10px 10px 10px 50px;
  margin: 0px 0px 25px 0px;
  width: 60%;
  border-bottom: 1px solid #999;
  -webkit-appearance: none;
  border-top: none;
  border-right: none;
  border-left: none;
}
.app input[type="submit"] {
  background: #5f9d30;
  color: #FFF;
  font-size: 25px;
  font-weight: 300;
  width: 71%;
  padding: 14px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 20px 0px 0px 0px;
  border: none;
  cursor: pointer;
  outline: none;
}
.app input[type="submit"]:hover {
  background: #457423;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.app p {
  font-size: 19px;
  font-weight: 400;
  color: #5A6779;
  margin: 40px 0px 0px 0px;
}
.app p a{
  font-size: 20px;
  font-weight: 700;
  color: #29628D;
}
.app p a:hover{
  color: #5A6779;
}
.copyright {
  padding: 40px 0px 0px 0px;
  text-align: center;
}
.copyright p {
  font-size: 16px;
  font-weight: 400;
  color:#fff;
}
.copyright p a{
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.copyright p a:hover{
	color:#39DAF7;
	 transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.clear{
	clear:both;
}


@media(max-width:1440px){

.app input[type="submit"] {
  font-size: 25px;
  width: 72%;
  padding: 12px 28px;
  margin: 15px 0px 0px 0px;
}
.app input[type="text"] {
  font-size: 20px;
}
.app input[type="password"] {
  outline: none;
}
.cam-img input[type="file"] {
  width: 135px;
  height: 135px;
  left: 35%;
}
span.menu img {
  width: 80%;
}
span.menu {
  padding: 7px 0px 0px 25px;
}
}
@media(max-width:1366px){
.app input[type="submit"] {
  font-size: 20px;
}
.top-bar {
  padding: 10px 0px;
}
}
@media(max-width:1280px){
.app input[type="submit"] {
  width: 75%;
}
}
@media(max-width:1024px){
.app {
  padding: 0px 0px 40px 0px;
}
.app input[type="text"] {
  font-size: 20px;
  background: url(../images/email.png)no-repeat 0px 12px;
  margin: 0px 0px 20px 0px;
}
.app input[type="password"] {
  background: url(../images/lock.png)no-repeat 0px 7px;
  font-size: 20px;
  margin: 0px 0px 20px 0px;
}
.app input[type="submit"] {
  font-size: 20px;
  width: 79%;
  padding: 13px 28px;
  margin: 5px 0px 0px 0px;
}
.app p {
  margin: 25px 0px 0px 0px;
  font-size: 15px;
  padding: 0px 4px;
}
.app p a {
  font-size: 19px;
}
span.menu img {
  width: 83%;
}
.top-bar h2 {
  font-size: 25px;
}
.cam-img input[type="file"] {
  width: 100px;
  height: 100px;
}
}
@media(max-width:768px){
.app {
  width: 47%;	
  padding: 0px 0px 40px 0px;
}
.izquierdac{
	width:40%;	
}
.app input[type="submit"] {
  width: 78%;
  margin: 20px 0px 0px 0px;
  font-size: 25px;
  padding: 15px 28px;
}
span.menu img {
  width: 75%;
}
.top-bar {
  padding: 15px 0px;
}
.app p {
  margin: 80px 0px 0px 0px;
}
body {
  padding: 85px 0px 30px 0px;
}
.copyright {
  padding: 125px 0px 0px 0px;
}
}
@media(max-width:640px){
.cam-img  a img {
  width: 35%;
}
.izquierdac{
	width:40%;	
}
.app input[type="submit"] {
  width: 82%;	
  font-size: 20px;
  padding: 12px 28px;
}
.app p a {
  font-size: 15px;
}
.app p {
  font-size: 15px;
   margin: 60px 0px 0px 0px;
}
.cam-img {
  margin: 40px 0px 40px 0px;
}
}
@media(max-width:480px){
.top-bar h2 {
  font-size: 22px;	
  width: 31%;
}
.menu img {
  width: 75%;
}
.izquierdac{
	width:100%;	
}
span.menu {
  padding: 0px 0px 0px 17px;
}
body {
  padding: 50px 0px 30px 0px;
}
.app input[type="text"] {
  background: url(../images/email.png)no-repeat 0px 14px;
  font-size: 19px;
  margin: 0px 0px 20px 0px;
}
.app input[type="password"] {
  background: url(../images/lock.png)no-repeat 0px 6px;
  font-size: 19px;
  margin: 0px 0px 20px 0px;
}
.app input[type="submit"] {
  width: 82%;
  font-size: 17px;
  padding: 10px 28px;
  margin: 25px 0px 0px 0px;
}
.app {
  padding: 0px 0px 25px 0px;
  width: 65%;
}
span.menu img {
  width: 65%;
}
.navg ul {
  top: 50%;
  left: 30%;
}
}
@media(max-width:320px){
.menu img {
  width: 50%;
}
.izquierdac{
	width:100%;	
}
.top-bar h2 {
  font-size: 18px;
}
.top-bar {
  padding: 10px 0px;
}	
.app a img {
  width: 37%;
}
.app input[type="text"] {
  background: url(../images/email.png)no-repeat 2px 7px;
  font-size: 15px;
  margin: 0px 0px 10px 0px;
  padding: 10px 10px 10px 45px;
}
.app input[type="password"] {
  background: url(../images/lock.png)no-repeat 2px 0px;
  font-size: 15px;
  margin: 0px 0px 10px 0px;
  padding: 10px 10px 10px 45px;
}
.app input[type="submit"] {
  width: 81%;
  font-size: 15px;
  padding: 7px 28px;
  margin: 17px 0px 0px 0px;
}
.app p {
  font-size: 13px;
  margin: 20px 0px 0px 0px;
}
.app p a {
  font-size: 12.5px;
}
.copyright p {
  font-size: 13px;
}
.copyright p a {
  font-size: 13px;
}
.copyright {
  padding: 16px 0px 0px 0px;
}
body {
  padding: 40px 0px 20px 0px;
}
.navg ul.res li a {
  padding: 5px;
  font-size: 11px;
}
.app {
  width: 86%;
}
.cam-img {
  margin: 20px 0px 20px 0px;
}
.cam-img input[type="file"] {
  left: 30%;
}
}
/*--meadia quiries end here--*/