input[type="password"], 
input[type="text"], 
textarea, 
textarea.form-control {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #f7f4ed;
    border: 3px solid #d9d7cb;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    color: #9d9892;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea, 
textarea.form-control {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}

input[type="text"]:focus, 
textarea:focus, 
textarea.form-control:focus {
    outline: 0;
    background: #f7f4ed;
    border: 3px solid #c4c0b4;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #9d9892; }
input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #9d9892; }
input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #9d9892; }

label {
    font-weight: 400;
}



button.btn {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    /*#background: #d05a4e;
    #background: deepskyblue;*/
    background: #000000;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover { opacity: 0.6; color: #fff; }

button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

/*button.btn:focus { outline: 0; opacity: 0.6; background: #d05a4e; color: #fff; }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #d05a4e; color: #fff; }*/

button.btn:focus { outline: 0; opacity: 0.6; background: #000000; color: #fff; }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #000000; color: #fff; }

.backgroundGraphic{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#22b70e+0,f3f700+34,f3f700+74,ff0000+100 */
    background: #22b70e; /* Old browsers */
    background: -moz-linear-gradient(left,  #22b70e 0%, #f3f700 30%, #f3f700 60%, #ff0000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #22b70e 0%,#f3f700 30%,#f3f700 60%,#ff0000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #22b70e 0%,#f3f700 30%,#f3f700 60%,#ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22b70e', endColorstr='#ff0000',GradientType=1 ); /* IE6-9 */

    border               :4px solid gray;
    -webkit-border-radius:5px;
    -moz-border-radius   :5px;
    -ms-border-radius    :5px;
}

.verticalLine {
    border-left :thick solid #000000;
    height      :100%;
    z-index     :2; 
}

.graphicContiner{
    height         :150px;
    border         :1px solid #000000; 
    position       :relative;
    border-collapse:collapse;
}

.footerAuditRiskGraphic{
    clear     :both; 
    text-align:justify; 
}

.leftRightAuditRiskGraphic{ 
    line-height:40px;
}

.titleAuditRiskGraphic{
    text-align :center;
    font-weight:bolder;
    background-color:#000000;
    color:#FFFFFF;
    height:32px;
    line-height:32px;
}

.borderCell{
    height:40px; 
    border:1px solid #000000;
    line-height:20px;
    color:#000000;
}

.intermCell{
    height:12px;
}

.tableGraphics{
    width:100%; 
    table-layout: fixed;
}

.tableGraphics thead{
    background-color:#000000; 
    color:#FFFFFF; 
    font-size:14px;
    height:60px;
    line-height:20px;
    border:1px solid #000000;
}

.tableGraphics thead > tr > th{
    vertical-align:middle;
}

.tableRisk{
    width:100%; 
    border:1px solid #000000; 
    table-layout: fixed; 
    height:150px;
}

.tableRisk thead > tr{
    height:30px; 
    line-height:29px;
    border:1px solid #000000; 
}

.tableRisk thead > tr > th{
    background-color:#000000; 
    color:#FFFFFF; 
    vertical-align:middle;
}

.tableRisk tbody > tr > td{
    border:1px solid #000000; 
    vertical-align:middle;
    color:#000000; 
}

.contenedor_progreso{
    width:50px; 
    height:50px;
    overflow: none;
    position: absolute; 
    z-index: 1050;
    top:50%;
    margin-top: -50px;
    left:50%;
    margin-left: -50px;
}

.scroll-modal{
    max-height:calc(100vh - 180px); 
    overflow-x:hidden; 
    overflow-y:auto;
}