/*::-moz-selection { background: #d05a4e; color: #fff; text-shadow: none; }
::selection { background: #d05a4e; color: #fff; text-shadow: none; } */


/***** Top content *****/

.form-box {
    padding-top: 30px;
}

.form-top {
    padding: 20px 25px 0px 25px;
    /*background: #f7f4ed;*/
    text-align: left;
}

.form-top h1 { margin-top: 0; }

.form-bottom {
    padding: 5px 25px 30px 25px;
    /*background: #ebe6e0;*/
    text-align: left;
}

.form-bottom form textarea {
    height: 100px;
}

.form-bottom form .input-error {
    border-color: #d05a4e;
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	
    /*.inner-bg { padding: 40px 0 110px 0; }*/

}
